<title>Success Page</title>

<nav>
  <a class="logo" id="logo-link" href="/menu"><img class="logo view-appointment" src="/images/logo.png" alt="appt-logo"></a>
  <a href="/appointment/view-appointment"><span id="view-appointment"></span>View Appointments</a>
  <a class="logout-btn" href="/auth/logout"><span id="logout-icon"></span>Logout</a>
</nav>

<section id="appointmentForm">
  <h1>Data submitted successfully!</h1>
  <h2> You entered: </h2>
  <%= event.summary %> <br>
  <%= event.description%> <br>
  <%= event.location %> <br>
  <%= event.start%> <br>
  <%= event.end %> <br>
  <%= event.recurrence %> <br>
  <%= event.attendees %> <br>
  <%= event.reminders %> 
</section>
