<title>Update Form</title>

<nav>
<nav id="navID">
  <input type="checkbox" id="nav-menu">
  <label for="nav-menu">
    <i class="fas fa-bars" id="sign-one"></i>
      <i class="fas fa-times" id="sign-two"></i>
      </label>
    <h1><a class="logo" id="logo-link" href="/menu"><img class="logo view-appointment" src="/images/logo.png"
      alt="appt-logo"></a></h1>
    <ul>
      <li><a href="./appointment"><span id="create-appointment"></span>Create Appointment</a></li>
      <li><a href="/appointment/view-appointment"><span id="view-appointment"></span>View Appointments</a></li>
      <li><a class="logout-btn" href="/auth/logout"><span id="logout-icon"></span>Logout</a></li>
    </ul>
</nav>

<% if(success != ''){%>
  <section class="alert">
    <strong><%= success%></strong>
  </section>
  <%}%>
<section id="appointmentForm">
  <%var count = 0%>
  <% event.forEach(function (eve) { %>
  <%count++%>
  
  <form method="post" action="/appointment/view-appointment/update/<%= eve._id%>" id="formVal">
    <h3>Update Appointment <%= eve.summary %></h3>
    <table id="form">
      <tr id="mongoID">
        <td>mongoid:</td>
        <td><input type="text" id="mongoID" name="mongoID" value="<%= eve._id %>"></td>
      </tr>
      <tr id="eventID">
        <td>id:</td>
        <td><input type="text" id="eventID" name="eventID" value="<%= eve.event_id %>"></td>
      </tr>
      <tr>
        <td><input type="text" id="summary" name="summary" value="<%= eve.summary %>"></td>
      </tr>
      <tr>
        <td><input type="text" id="location" name="location" value="<%= eve.location %>"></td>
      </tr>
      <tr>
        <td><input type="text" id="description" name="description" value="<%= eve.description %>"></td>
      </tr>
      <tr>
        <td><input type="date" id="startDate" name="startDate" placeholder="Start Date: MM/DD/YYYY"></td>
      </tr>
      <tr>
        <td><input type="date" id="endDate" name="endDate" placeholder="End Date: MM/DD/YYYY"></td>
      </tr>
      <tr>
        <td><input type="time" id="startTime" name="startTime" placeholder="Start Time: HH:MM AM/PM"></td>
      </tr>
      <tr>
        <td><input type="time" id="endTime" name="endTime" placeholder="End Time: HH:MM AM/PM"></td>
      </tr>
      <tr>
        <td><input type="number" id="recurrence" name="recurrence" placeholder="Recurrence: (#)"></td>
      </tr>
      <tr>
        <td><input type="email" id="attendees" name="attendees" multiple placeholder="Attendee Email(s): xyz@gmail.com, abc@gmail.com"></td>
      </tr>
      <tr>
        <td><input type="text" id="reminders" name="reminders" placeholder="Reminder"></td>
      </tr>
    </table>
    <br>
    <span id="error"></span>
    <input type="button" value="Update" id="form-btn" /> 
  </form>
  <% }) %>
</section>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script rel="javascripts" src="/javascripts/scripts.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://kit.fontawesome.com/a05bed8e85.js" crossorigin="anonymous"></script>